<%= link_to 'All Patients', patients_path %>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>
 
<p>
  <strong>Address:</strong>
  <%= @patient.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @patient.phone_number %>
</p>

<p>
  <strong>Interested in learning more about the Church?</strong>
  <%= human_boolean(@patient.interested) %>
</p>

<td><%= link_to 'Edit', edit_patient_path %></td>